#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.navbar {
  width: 100%;
}

.MuiToolbar-root {
  min-height: 40px !important;
}

.MuiAppBar-root {
  height: 40px;
}